.menu{
    font-family: 'Lusitana', serif;    
    background-color: rgba(250, 235, 215, 0.894);
}
.menu h1{
    font-size: 40px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}