*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.nav-bar{
    font-family: 'Lusitana', serif;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    color: black;
    text-transform: uppercase;
    background: rgba(233, 136, 10, 0.894);
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    width: 75%;
}
.logo{
    /* position: relative; */
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    font-weight: bold;
}
.nav-items{
    color: black;
    font-size: 20px;
    display: flex;
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid rgb(76 45 6 / 89%);
    border-radius: 5px;
}
.nav-items:hover{
    color: black(210, 124, 12, 0.894);
    background: rgba(241, 160, 79, 0.877);
    transition: 0.5;
    transform: rotate(1deg);
}
.btn{
    position: absolute;
    right: 10px;
    padding: 5px;
    cursor: pointer;
}
.btn:hover{
    font-size: 25px;
}
@media screen and (max-width: 1024px) {
    /* .logo{
        display: flex;
        align-items: center;
        top: 15px;
        left: 35px;
    } */
    .logo{
        display: none;
    }
    .nav-links{
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: center;
    }
    .nav-items:nth-child(1){
        border-top: 1px solid black;
        margin-top: 50px
    }
    .nav-items{
        width: 100%;
        border-top: 1px solid black;
        margin-right: 0px;
        padding: 20px 0;
        text-align: center;
    }
    /* .btn{
        display: block;
    } */
}
/* Mobile Responsive 
.mobile-nav{
    display: none;
}
@media screen and (max-width: 780px) {
    .logo{
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }
    .nav-links{
        display: none;
    }
    .nav-mobile-links{
        position: absolute;
        display: block;
        list-style: none;
        background-color: rgba(250, 235, 215, 0.894);
        left: 0px;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }
    .nav-home, .nav-menu, .nav-review, .nav-contact{
        color: black;
        padding: 32px;
        width: 100%;
        border: 2px solid orange;
        border-radius: 5px;
        text-align: center;
    }
    .mobile-nav{
        display: block;
        position: absolute;
        font-size: 30px;
        color: black;
        background-color: rgba(250, 235, 215, 0.894);
        border: none;
        outline: none;
        top: 15px; 
    }
}
*/